.center {
  text-align: center;
}

.red {
  background: red;
  width: 100px;
  height: 100px;
}

.blue {
  background: blue;
  width: 100px;
  height: 100px;
}

.green {
  background: green;
  width: 100px;
  height: 100px;
}

.black {
  background: #000;
  width: 100px;
  height: 100px;
}
